:root {
  --color-indigo: #233f57;
  --color-lapis: #1c4f7c;
  --color-mint: #09bc8a;

  --color-white: #ebecec;
  --color-white-alt: rgb(216, 216, 216);
  --color-black: #0c151d;
  --color-black-alt: #141c24;

  --color-background: var(--color-white);
  --color-background-alt: var(--color-white-alt);
  --color-text: var(--color-black);
  --color-text-alt: var(--color-black-alt);

  --color-primary: var(--color-indigo);
  --color-secondary: var(--color-lapis);
  --color-tertiary: var(--color-mint);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-black);
    --color-background-alt: var(--color-black-alt);
    --color-text: var(--color-white);
    --color-text-alt: var(--color-white-alt);
    color-scheme: dark;
  }
} */

/* Layout debugger */
/* * {
  border: 1px solid red;
} */

.debug {
  border: 1px solid red;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  color: var(--color-text);
  background-color: var(--color-background);
}

header {
  background-color: var(--color-background);
  position: relative;
  padding-bottom: 16px;
}

header::after {
  content: "";
  height: 8px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-primary);
}

main {
  margin-left: 56px;
}

footer {
  background-color: var(--color-background-alt);
  color: var(--color-text);
  z-index: 10;
}

p {
  max-width: 30em;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

/*Inline scrolling */
/* .inline-scrollbar::-webkit-scrollbar {
  background-color: none;
  width: 8px;
  margin-left: 4px;
}

.inline-scrollbar::-webkit-scrollbar-button {
    color:
}
.inline-scrollbar::-webkit-scrollbar:hover {
  background-color: var(--color-background-shade);
  width: 8px;
  cursor: pointer;
}

.inline-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 6px;
} */

.navbar-nav .nav-link {
  color: var(--color-text-alt);
}

.navbar .navbar-brand,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: var(--color-secondary);
}

.btn {
  border: 1px solid transparent;
  border-radius: 4px;
  width: fit-content;
  height: fit-content;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: 1px solid var(--color-primary);
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.toast {
  z-index: 99;
}

/***** SIDEBAR *****/

.sidebar-wrapper {
  width: fit-content;
  height: 100%;

  min-width: 48px;

  z-index: 5 !important;
  background: var(--color-primary);
}

@media (max-width: 991px) {
  .sidebar-wrapper {
    display: none;
  }
}

.sidebar {
  display: grid;
  grid-template-columns: 0fr;
  transition: all 0.5s ease-in-out;
  font-size: 18px;
}

.sidebar.show,
.sidebar.clicked {
  grid-template-columns: 1fr;
}

.inner-wrapper {
  overflow: hidden;
}
.sidebar-content {
  width: 10rem;
  max-width: 256px;
}

.sidebar .btn {
  color: var(--color-white) !important;
  width: 48px;
}

.sidebar-nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  transition: 0.5s ease;
  padding-left: 12px !important;
}
.sidebar-nav-link.active,
.sidebar-nav-link:hover {
  background-color: var(--color-background);
  color: var(--color-text);
  position: relative;
}

.sidebar-nav-link.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: var(--color-tertiary);
}

.sidebar a {
  color: #fff;
}

/* Helper classes */

.dark-bg,
.dark-bg > * {
  color: white !important;
}

/* Loader copied from https://cssloaders.github.io/ */
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: var(--color-primary);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
